<ion-view view-title="About">
    <ion-content  style="background-color:#B71C1C;" >
 <!--#B71C1C-->
  <div class=" item item-image" style="padding: 0 0 0 0 ; margin: 0 0 0 0; background: url(img/log.jpg) center; background-size: cover;">
    <div class="hero no-header flat" margin-top="5em">

                        <div height="140px" width="140px"></div>
                    <div class="app-icon"></div>
                    <h1 class="login-title">The New Rise</h1>
                    <h3 style="margin-top:0.4em;" class="lblue">&copy newEra2016</h3>
                  <h4 style="background-color: white; color:#00B0FF; width:3em; border-radius:4px; float:right; margin: 1em 1em 0 0; "><strong>v1.0</strong></h4>
                </div>
  </div>

<div class="list">
     <div class="row ">
       <div class="col col-20"></div>
       <div class="col col-60">
         <a>
         <button id="box_shadow" class="button button-full button-assertive">
         &ltDevelopers&gt
         </button>
       </a>
      </div>
      <div class="col col-20"></div>
  </div>


 <div class=" animated infinite pulse">
     <div class="row ">
       <div class="col col-20"></div>
       <div class="col col-60">
         <a href="https://facebook.com/nakulhlko" >
         <button id="box_shadow" class="button button-full button-balanced ">
         <div class="myfontA">  Nakul Havelia</div>
          </button>
        </a>
       </div>
     <div class="col col-20"></div>
   </div>
</div>


 <div class="animated infinite flipInY">
   <div class="row ">
     <div class="col col-20"></div>
     <div class="col col-60">
       <a href="https://www.facebook.com/rishb.rex">
       <button id="box_shadow"  class="button button-full button-positive ">
       <div class="myfontA">  Rishabh Bharti </div>
       </button>
     </a>
    </div>
    <div class="col col-20"></div>
  </div>
 </div>

 <div class="animated infinite swing">
  <li class="row ">
    <div class="col col-20"></div>
    <div class="col col-60">
      <a href="https://facebook.com/manishyuijaiswal">
      <button id="box_shadow"  class="button button-full button-energized" href="">
     <div class="myfontA">   Manish Jaiswal </div>
      </button>
    </a>
   </div>
   <div class="col col-20"></div>
  </li>
 </div>
</div>

 </ion-content>
</ion-view>
