<!--<ion-view view-title="Bookmarks">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/bookmarks/maths">Maths</ion-item>
      <ion-item href="#/app/bookmarks/physics">Physics</ion-item>
      <ion-item href="#/app/bookmarks/chemistry">Chemistry</ion-item>
    </ion-list>
  </ion-content>
</ion-view>-->
<ion-view view-title="Bookmarks" >
    <ion-content  class="sub_topics grey">
      <div class=" no-padding" >
         <div class="row">
           <item class="sub_topics_no_2 lgrey">M</item>
           <a class="item item-text-wrap item-positive sub_topics_item " style="padding:0 0 0 0.2em;"  href="#/app/bookmarks/maths">
           ATHEMATICS
          </a>
        </div>
        <div class="row ">
           <item class="sub_topics_no_2 lgrey">P</item>
          <a class="item item-text-wrap item-assertive sub_topics_item" style="padding:0 0 0 0.2em;" href="#/app/bookmarks/physics">
          HYSICS
         </a>
       </div>
         <div class="row ">
            <item class="sub_topics_no_2 lgrey">C</item>
           <a class="item item-text-wrap item-royal sub_topics_item" style="padding:0 0 0 0.2em;"  href="#/app/bookmarks/chemistry">
           HEMISTRY
          </a>
        </div>
      </div>
    </ion-content>
  </ion-view>
