<!--<ion-view view-title="dpp list">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="dpp in dpps">
        {{dpp.title}}
        <h3 class="royal">{{dpp.description}}</h3>
        <button class="button button-positive button-small" ng-click="dpp.open()">open</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>-->
<ion-view view-title="DPP List" >
    <ion-content  class="sub_topics grey">
       <div class=" no-padding" >
         <div class="row" ng-repeat="dpp in dpps">
           <item class="sub_topics_no lgrey">{{$index+1}}</item>
           <a class="item item-text-wrap item-balanced sub_topics_item"  ng-click="dpp.open()">
             {{dpp.title}}{{dpp.description}}
          </a>
        </div>
      </div>
    </ion-content>
  </ion-view>
