<ion-view view-title="Choose Subject" scrollable="false">
    <ion-content  class="grey" scrollable="false">
     <div class="container">
      <a href="#/app/dpp/maths" class="subject-image item item-light item-image"  >
      <img src="img/maths.jpg" style="height:16em;" >
     </a></br>
      <a href="#/app/dpp/chemistry" class="subject-image item item-image item-light subj_img">
       <img  src="img/chem.jpg" style="height:16em;">
     </a></br>
      <a href="#/app/dpp/physics" class="subject-image item item-image item-light">
        <img src="img/phy.png" style="height:16em;">
      </a>
     </div>
   </ion-content>
</ion-view>
