<!--<ion-view view-title="QA">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/qa/stats">
        See Stats
      </ion-item>
      <ion-item href="#/app/update">
        Something
      </ion-item>
      <ion-item ng-href="#/app/qa/physics">
        Test Your Might in Physics
      </ion-item>
      <ion-item ng-href="#/app/qa/chemistry">
        Test Your Might in Chemistry
      </ion-item>
      <ion-item ng-href="#/app/qa/maths">
        Test Your Might in Maths
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>-->
<ion-view view-title="Choose Subject">
    <ion-content  class="grey">
     <div class="container">
      <a href="#/app/qa/maths" class="subject-image item item-light item-image"  >
      <img src="img/maths.jpg" style="height:16em;" >
     </a></br>
      <a href="#/app/qa/chemistry" class="subject-image item-light item item-image">
       <img  src="img/chem.jpg" style="height:16em;">
     </a></br>
      <a href="#/app/qa/physics" class="subject-image item-light item item-image">
        <img src="img/phy.png" style="height:16em;">
      </a>
     </div>
   </ion-content>
</ion-view>
