<!--<ion-view view-title="game">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <p>
          {{card.question}}
        </p>
      </div>
    </div>
    <ion-list>
      <ion-radio ng-model="userAns" ng-value="'a'">{{card.a}}</ion-radio>
      <ion-radio ng-model="userAns" ng-value="'b'">{{card.b}}</ion-radio>
      <ion-radio ng-model="userAns" ng-value="'c'">{{card.c}}</ion-radio>
      <ion-radio ng-model="userAns" ng-value="'d'">{{card.d}}</ion-radio>
    </ion-list>
    <button ng-if="counter < totalCards-1" ng-click="next(userAns)" class="button button-energized">Next</button>
    <button ng-if="counter == totalCards-1" ng-click="end(userAns)" class="button button-energized">End</button>
    <button ng-click="userAns = false" class="button button-energized">Unselect</button>
    <button ng-click="bookmark()" class="button button-outline icon-right ion-bookmark button-assertive">Bookmark</button>
    {{card.timing}}
  </ion-content>
</ion-view>-->
<ion-view view-title="Question">

    <ion-content class="grey" >
      <div class="row">
        <div class="col"></div>
        <div class="col-90">
        <button id="practice-bar-button-lvl" class="myfont">
          Lvl
          <i class="icon ion-arrow-up-b"></i>
          <b>{{currLevel}}</b>
        </button>
        <button id="practice-bar-button-xp" class="myfont" >
          <i class="icon ion-flash"></i>
          <strong>{{currPoints}}</strong>
        </button>
      </div>
      <div class="col"></div>
    </div>
        <div class="item card-item">
            <div  id="box_shadow" class="card stable-bg ink ink-dark ques_text">
                <div class="item item-text-wrap ques_text">
                  <div class=" bbar button-bar myfont" margin-bottom="20px">
                    <!--<a ng-click="prev()" id="box_shadow_b" class="button button-positive">
                      <small>Previous</small>
                    </a>-->
                     <a ng-click="card.currAns = false" id="box_shadow_b" class="button button-positive">
                       <small>Unselect</small>
                     </a>
                     <a ng-if="counter < totalCards-1" ng-click="next(card.currAns)" id="box_shadow_b" class="button button-positive">
                       <i class="icon ion-arrow-right-b">
                       </i>
                     </a>
                     <a ng-if="counter == totalCards-1" ng-click="end(card.currAns)" id="box_shadow_b" class="button button-positive">
                       <small>End</small>
                     </a>
                  </div>
                    <!--<span><strong>1.</strong></span>-->
                    <div class="ques_text"><b id="jax">{{card.question}}</b></div>
                    <a ng-hide="!currQImg" class="image" ng-click="card.open()" class="ques_text"><img ng-src="{{currQImg}}">
                    </a>
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>{{card.timing}}
                        </div>
                    </div>
                  </div>
                  <ion-list>
                    <div class="item-text-wrap">
                      <ion-radio ng-model="card.currAns" ng-value="'A'"><b>A. </b><div id="a"></div><img ng-hide="!currAImg" ng-src="{{currAImg}}"></ion-radio>
                      <ion-radio ng-model="card.currAns" ng-value="'B'"><b>B. </b><div id="b"></div><img ng-hide="!currBImg" ng-src="{{currBImg}}"></ion-radio>
                      <ion-radio ng-model="card.currAns" ng-value="'C'"><b>C. </b><div id="c"></div><img ng-hide="!currCImg" ng-src="{{currCImg}}"></ion-radio>
                      <ion-radio ng-model="card.currAns" ng-value="'D'"><b>D. </b><div id="d"></div><img ng-hide="!currDImg" ng-src="{{currDImg}}"></ion-radio>
                          </div>
                  </ion-list>
            </div>
        </div>
        <div class="row">
          <div class="col"></div>
        <a class="item item-dark myfont col-40"   ng-click="end(card.currAns)" style="text-align:center;"><b>End Game</b></a>
        <a class="item item-dark myfont col-40"   ng-click="bookmark()" style="text-align:center;"><b>Bookmark</b></a>
        <div class="col"></div>
      </div>
    </ion-content>
</ion-view>
