<!--<ion-view view-title="test">
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="password" ng-model="password">
        </label>
        <button class="button button-small" ng-click="submit(password)">
          Submit
        </button>
      </div>
    </div>
    <h3 ng-if="message">{{message}}</h3>
    <button class="button button-small" ng-click="insertTest()">
      insertTest
    </button>
  </ion-content>
</ion-view>-->

<!--
<ion-view title="Test1">
	<ion-content class="grey">
    <div class="card test-cards" id="box_shadow">
      <div class="row">
        <div class="button button-full button-dark col-90 myfont" id="box_shadow">
         <strong>VGPT mains part 3</strong>
         </div>
       </div>
         <div class="pull-left myfont">
          &nbsp &nbsp <i class="icon ion-clock"></i>3:00hrs
       </div>
       &nbsp
       <b>360</b>marks
       <div class="row">
  			 <ion-md-input placeholder="Enter test code" highlight-color="royal"  type="text" class="col-40" ng-model="password"></ion-md-input>
         <a class="button button-full col-50 button-balanced myfont" id="test-button" ng-click="submit(password)">
          <strong>START</strong>
  		  </a>
        </div>
        <h3 ng-if="message">{{message}}</h3>
     </div>
 </ion-content>
</ion-view>
-->




<ion-view title="Test1">
	<ion-content class="grey">

  <div class="empty"></div>
  <div class="card test-cards" id="box_shadow">

     <div class="row">
			 <div class="col"></div>
			 <ion-md-input placeholder="Enter test code" type="text" class="col-60" ng-model="password"></ion-md-input>
       <div class="col"></div>
		 </div>
		 <div class="row">
			 <div class="col"></div>
       <a class="button button-full col-40 button-balanced myfont" id="test-button" ng-click="submit(password)">
        <strong style="font-size:1.5em;">START</strong>
		  </a>
			<div class="col"></div>
      </div>
   </div>
	 <div class="row">
		<div class="col"></div>
	 <button class="item item-positive myfont col-40" ng-click="insertTest()" id="box_shadow">
		 Update
	 </button>
	 <div class="col"></div>
 </div>

 </ion-content>
</ion-view>
